body {
    background-color: wheat;
}

h3 {
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 200%;
    font-family: cursive;
}

button {
    background-color: blue;
    color: white;
    width: 10%;
    height: 10%;
    font-size: 100%;
    font-family: cursive;
}

#stop{
    background-color: red;
    color: white;
    width: 10%;
    height: 10%;
    font-size: 100%;
    font-family: cursive;
}