<html>
    <head>
        <link rel="stylesheet" href='./static/style.css' />
    </head>
    <body>
        <h3>Bottoni</h3>
        <div align="center">
        <form>  <!--method="post" action="/"-->
            <button type="submit" accesskey="w">Avanti</button> <br>
            <button type="submit" accesskey=a">Sinistra</button>
            <button type="submit" accesskey="s">Indietro</button>
            <button type="submit" accesskey="d">Destra</button> <br>
            <button id = "stop" type="submit" accesskey=" ">STOP!</button>
        </form>
        </div>
    </body>
</html>