<html>
    <head>
        <link rel="stylesheet" href='static/stile.css' />
    </head>
    <body>
        <h3>Controllo Robot</h3>
        <div align="center">
        <form method="post">
            <button type="submit" name="avanti" value="avanti">Avanti</button> <br>
            <button type="submit" name="sinistra" value="sinistra">Sinistra</button>
            <button type="submit" name="indietro" value="indietro">Indietro</button>
            <button type="submit" name="destra" value="destra">Destra</button> <br>
            <button id = "stop" type="submit" name="stop" value="stop">STOP!</button><br>
            <input type="text" placeholder="Comando complesso" name="movimento" value="{{request.form.movimento}}">
            <input class="btn btn-primary" type="submit" value="invia">
        </form>
        </div>
    </body>
</html>